<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recordstore.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @recordstore.street %>
</p>

<p>
  <strong>Code:</strong>
  <%= @recordstore.code %>
</p>

<p>
  <strong>City:</strong>
  <%= @recordstore.city %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @recordstore.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @recordstore.contact_number %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @recordstore.contact_email %>
</p>

<p>
  <strong>Contact fax:</strong>
  <%= @recordstore.contact_fax %>
</p>

<p>
  <strong>Seo title:</strong>
  <%= @recordstore.seo_title %>
</p>

<p>
  <strong>Seo description:</strong>
  <%= @recordstore.seo_description %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @recordstore.logo_url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @recordstore.content %>
</p>

<%= link_to 'Edit', edit_recordstore_path(@recordstore) %> |
<%= link_to 'Back', recordstores_path %>
